*{
    box-sizing: border-box;
    font-family: "Ubuntu Condensed";
    text-decoration: none;
    color: black;
}

body {
  margin: 0px auto 0px auto;
  max-width: 650px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: powderblue
  linear-gradient(to right, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
}

li{
    list-style: none;
    margin-bottom: 10px;
    background-color: rgba(56,117,215, 0.1);
    border-bottom: 1px solid #3875d7;
    border-top: 1px solid #3875d7;
   padding: 10px;
    height: 210px;
}

tr{
    font-size: 24px;
}

a{
    width: 20px;
}

.publisher{
    font-style: italic;
    font-size: 18px;
    margin-left: 20px;
}

.comment{
    font-size: 17px;
    margin-left: 20px;
}

table{
    margin-bottom:  30px;
}
h4{
    font-size: 20px;
}

label{
    display: none;
}
textarea{
    font-size: 16px;
    height: 80px;
}


.submit-button{
  padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #447e9b;
    background: linear-gradient(45deg, #fff 50%, #447e9b 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Ubuntu Condensed";
    font-size: 110%;
    position: relative;
    margin: 20px auto 0 auto;
    /*top: 15px;
    left: 35%;*/

    /*margin: -70px 0 0 -170px;*/
    color: #fff; /*For IE*/
}

.submit-button:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #447e9b 50%, transparent 50%);
    z-index: -1;
}

.submit-button,
.submit-button:after{
    background-size: 300%;
    background-position: 100%;
    transition: 1s, font-size 0.2s;
}

.submit-button:hover,
.submit-button:hover:after{
    background-position: 0;
    font-size: 1.1em;

    color: #ffffff; /*For IE*/
}

.back-to-posts{
    width: 105px;
    margin-bottom: 70px;
    font-size: 17px;
    color: #3875d7;
}

.bluedit-icon{
    width: 100px;
    height: auto;
    float: right;
}

h2{
    font-size: 40px;
}

.top{
    margin-bottom: 50px;
    margin-top: 50px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.arrows{
    float: left;
    margin-left: 20px;
}

.votes,
.down-arrow{
    margin-left: 20px;
}

.down-arrow:hover{
    width: 25px;
    height: auto;
}

.up-arrow:hover{
   width: 25px;
    height: auto;
}

.user{
    color: #8FBAFF;
    font-size: 140%;
}


.header{
    margin: 0 auto 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    font-size: 130%;
    width: 650px;

}

.header a{
    font-size: 130%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.header a{
    margin-left: 10px;
    text-align: center;
}

a:hover{
    color: white;
}

.right-side{
    text-align: center;
    float: left;
    position: relative;
    width: 25%;
}

.left-side{
    float: left;
    width: 75%;
}

.edit-button{
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid #447e9b;
    background: linear-gradient(45deg, #fff 50%, #447e9b 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Ubuntu Condensed";
    font-size: 110%;
    position: relative;
    float: left;
    width: 25%;
    color: #fff; /*For IE*/
    margin-left: 10px;
}

.edit-button{
    padding: 12px 30px;
}

.edit-button:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #447e9b 50%, transparent 50%);
    z-index: -1;
}

.edit-button,
.edit-button:after{
    background-size: 300%;
    background-position: 100%;
    transition: 1s, font-size 0.2s;
}

.edit-button:hover,
.edit-button:hover:after{
    background-position: 0;
    font-size: 1.1em;

    color: #ffffff; /*For IE*/
}

.main-title{
    font-size: 28px;
}

.content{
    font-size: 18px;
}

.author{
    color: #8FBAFF;
}

.author:hover{
    color: white;
}

.post-img{
    text-align: center;
    width: 100%;
    height: auto;
}

